<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<script type="text/javascript" th:fragment="frontend-message" th:inline="javascript">
    /*<![CDATA[*/

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": true,
        "preventDuplicates": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "7000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    function getMessage() {
        $.ajax({
            url: "http://127.0.0.1:8080/api/frontend-message/pop",
            type: "GET",
            cache: "false",
            async: "false",
            dataType: "json",
            success: function (message, status) {
                if (!!message.type) {
                    switch (message.type) {
                        case 'SUCCESS':
                            toastr.success(message.body, message.title);
                            break;
                        case 'INFO':
                            toastr.info(message.body, message.title);
                            break;
                        case 'WARNING':
                            toastr.warning(message.body, message.title);
                            break;
                        default:
                            toastr.error(message.body, message.title);
                            break;
                    }
                    getMessage();
                }
            }
        });
    }
    getMessage();

    /*]]>*/
</script>
</html>