<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<viewRegistry>

    <route
            name="note"
            path="/${name}"
            view="${path}"
    >
        <route
                name="create"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="read"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="update"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="delete"
                path="${parent.path}/${name}"
                view="${path}"
        />
    </route>

    <route
            name="user"
            path="/${name}"
            view="${path}"
    >
        <route
                name="create"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="read"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="update"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="delete"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="sign-in"
                path="${parent.path}/${name}"
                view="${parent.path}/unauthorized"
        />
        <route
                name="confirm-email"
                path="${parent.path}/${name}"
                view="${parent.path}/unauthorized"
        >
            <route
                    name="order-token"
                    path="${parent.path}/${name}"
                    view="${parent.view}"
            />
            <route
                    name="apply-token"
                    path="${parent.path}/${name}"
                    view="${parent.view}"
            />
        </route>
        <route
                name="reset-password"
                path="${parent.path}/${name}"
                view="${parent.path}/unauthorized"
        >
            <route
                    name="order-token"
                    path="${parent.path}/order-token"
                    view="${parent.view}"
            />
            <route
                    name="apply-token"
                    path="${parent.path}/apply-token"
                    view="${parent.view}"
            />
        </route>
    </route>

    <route
            name="failure"
            path="/${name}"
            view="${path}"
    >
        <route
                name="404"
                path="${parent.path}/${name}"
                view="${path}"
        />
        <route
                name="500"
                path="${parent.path}/${name}"
                view="${path}"
        />
    </route>

</viewRegistry>